# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node (if frontend exists)
node_modules/

# Model files (important for you)
*.pth

# VS Code
.vscode/
